# ============================================================
# .env — Variables d'environnement locales pour docker-compose
# ⚠️ CE FICHIER NE DOIT JAMAIS ALLER SUR GITHUB
# Il est dans le .gitignore
# ============================================================

# --- MySQL ---
MYSQL_ROOT_PASSWORD=ta_mdp
MYSQL_DATABASE=ta_bd

# --- Connexion BDD injectée dans l'API (profil prod) ---
# "db" = nom du service MySQL dans docker-compose (pas localhost !)
DB_URL=jdbc:mysql://db:3306/ta_bd
DB_USERNAME=root
DB_PASSWORD=ta_mdp

# --- Docker Hub (pour le push d'images) ---
DOCKERHUB_USERNAME=ton_username_dockerhub

API_URL=http://api:8080
SPRING_JPA_DDL_AUTO=validate